@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'GapyeongHanseokbong-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongHanseokbong-Bold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "GapyeongHanseokbong-Bold";
  font-weight: 300;
}